.panel__group {
    margin-bottom: 20px;
}
.panel__double-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
}
.panel__group__inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    flex-wrap: wrap;
}
.panel__group-btn {
    display: flex;
}
.panel__group__input-color {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.panel__group__input-color__label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 248px;
}
.panel__group-color {
    flex-wrap: wrap;
}
.ui-color-picker .gradient-controls .gradient-degrees-options .gradient-degree-value p, .panel__group__special-label {
    margin: 0;
}
.ui-color-picker {
    background-color: #f2f2f2 !important;
    margin-bottom: 0 !important;
}
.panel-image__wrapper div label {
    display: none;
}
.input-group {
    width: auto;
}
.btn__color {
    margin: 5px;
}
.range {
    font-size: 40px;
    margin: 10px;
}
.range__label {
    font-size: 30px;
}
.checkbox {
    transform: scale(1.2);
    opacity: 0.9;
    cursor: pointer;
}
@media all and (max-width: 650px) {
    .custom-select, .form-control {
        width: auto;
    }
    .checkbox {
        transform: scale(1);
    }
}