.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.panel {
    max-width: 50vw;
    position: relative;
}
.ad__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px 50px;
}