.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px 50px;
    flex-wrap: wrap;
}
.panel {
    max-width: 50vw;
    width: 600px;
    position: relative;
}
.ad__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px 50px;
}
.panel__group__inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media all and (max-width: 650px) {
    iframe {
        width: 100%;
    }
    .main {
        padding: 0;
    }
    .panel__group {
        width: 100vw;
    }
}