.banner {
    position: relative;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.banner__img {
    position: absolute;
    bottom: 0;
    right: 0;
}
.banner__text {
    width: 100%;
    margin: 0;
    z-index: 1;
    overflow: hidden;
    line-height: 1.2em;
    max-height: 3.6em; /* max-height = line-height (1.2) * число строк (3) */
    text-align: center;  
}