main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    width: 100vw;
}
.panel {
    width: 50%;
}
.banner {
    position: relative;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.banner__img {
    position: absolute;
    bottom: 0;
    right: 0;
}
.banner__text {
    width: 100%;
    margin: 0;
    z-index: 1;
    overflow: hidden;
    line-height: 1.2em;
    max-height: 3.6em; /* max-height = line-height (1.2) * число строк (3) */
    text-align: center;  
}
  
.panel__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.panel__buttons__btn {
    margin: 10px 15px;
    width: 197px;
}
.panel__buttons__image_size {
    width: 30px;
}
.input-group {
    align-items: center;
}
.panel__image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}
.alert {
    position: absolute;
    top: 0;
    right: 0;
}
.panel__color-picker {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.ui-color-picker .gradient-controls .gradient-degrees-options .gradient-degree-value p {
    margin: 0;
}